.container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
  }
.logo {
    height: 80px;
    width: 260px;
    padding-left: 0.4rem;
}
.titulo {
    font-family: 'Trebuchet MS';
}

.subtitulo {
    font-family: 'Trebuchet MS';
    padding-right: 0.4rem;
}
.cabecalho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 0 1.25rem;*/
    border-bottom: 0.125rem solid #AAAAAA;
    box-shadow: 0 0 0.1875rem #AAAAAA, 0 0 0.125rem #AAAAAA;
    background-image: linear-gradient(290deg, rgb(38, 8, 8) 0px, rgb(120, 0, 0) 60%, rgb(161, 0, 0) 100%);
    height: 80px;
}

.card {
    width: 400px;
    height: 140px;
    color: white;
    background-color: #104C70;
    /* padding: 6px; */
    margin: 5px;
    border-radius: 0.375rem;
}
.titulo-card {
    font-size: 25px;
    font-family: "Trebuchet MS";
    line-height: 1.0;
    margin: 0;
    padding-top: 5px;
    text-align: center;
}

.dados-card {
    font-size: 60px;
    font-family: "Trebuchet MS";
    line-height: 2.0;
    text-align: center;
}

.ag-header-cell-label {
    justify-content: center;
    padding: 0;
  }


.ag-row .ag-cell {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.ag-row .ag-cell img, .ag-row .ag-cell svg {
    object-fit: contain;
    display: block;
}