.container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
  }
.logo {
    height: 100%;
    width: 'auto';
    padding-left: 0.4rem;
}
.titulo {
    font-family: 'Trebuchet MS';
}

.subtitulo {
    font-family: 'Trebuchet MS';
    padding-right: 0.4rem;
}
.cabecalho {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 0 1.25rem;*/
    border-bottom: 0.125rem solid #AAAAAA;
    box-shadow: 0 0 0.1875rem #AAAAAA, 0 0 0.125rem #AAAAAA;
    background-image: linear-gradient(290deg, rgb(38, 8, 8) 0px, rgb(120, 0, 0) 60%, rgb(161, 0, 0) 100%);
    height: 80px;
}

