.container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
  }
.logo {
    height: 100%;
    width: 17.25rem;
    padding: 0.5rem;
}
.titulo {
    font-family: 'Trebuchet MS';
}

.subtitulo {
    font-family: 'Trebuchet MS';
    padding-right: 0.5rem;
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.125rem solid #AAAAAA;
    box-shadow: 0 0 0.1875rem #AAAAAA, 0 0 0.125rem #AAAAAA;
    background-image: linear-gradient(290deg, rgb(38, 8, 8) 0px, rgb(120, 0, 0) 60%, rgb(161, 0, 0) 100%);
    height: 5.313rem;
}

.card {
    width: 100%;
    height: 6.25rem;
    color: white;
    background-color: #104C70;
    /* padding: 6px;  */
    margin: 5px;
    border-radius: 0.375rem;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.titulo-card {
    font-size: 40px;
    font-family: "Trebuchet MS";
    line-height: 1.0;
    margin: 0;
    text-align: center;
}
.up-row{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    justify-content: center;
}
.andar-1{
    width: 28rem;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 0.5rem;
}
.andar-2{
    width: 28rem;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 0.5rem;
}
.andar-3{
    width: 28rem;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 0.5rem;
}
.andar-utineo{
    width: 28rem;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 0.5rem;
}
.dados-card {
    font-size: 60px;
    font-family: "Trebuchet MS";
    line-height: 1.3;
    text-align: center;
}

.bottomRow {
    display:'flex';
    justify-content: 'left';
}

.topRow {
    display:'flex';
    justify-content: 'left';
    width: 100vw
}

.ag-header-cell-label {
    justify-content: center;
    padding: 0;
  }


.ag-row .ag-cell {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.ag-row .ag-cell img, .ag-row .ag-cell svg {
    object-fit: contain;
    display: block;
}

/* .ag-cell-value {
    --ag-font-size: 1.313rem;
} */

/* .ag-body-vertical-scroll {
    display: none;
 } */

/* Add this CSS to your stylesheet */
@keyframes blink {
    0%, 100% { background-color: #FF5A0A; } /* Initial color */
    50% { background-color: #FFED29; } /* Blinking color */
}

.blinking-row {
    animation: blink 0.05s infinite; /* 1-second interval for the blink, adjust as needed */
}

